In [1]:
import pandas as pd
import numpy as np

## Data Preprocessing

In [2]:
df=pd.read_csv('train.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

Time picked minus time ordered isn't the same as time taken to deliver, so it's safe to assume that time picked is the time where the delivery person picks order from takeaway

In [3]:
dftest=pd.read_csv('test.csv')
dftest.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05:00,conditions NaN,NaN,3,Drinks,electric_scooter,1,No,Metropolitian
1,0x3474,BANGRES15DEL01,28,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1,No,Metropolitian
2,0x9420,JAPRES09DEL03,23,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1,No,Metropolitian
3,0x72ee,JAPRES07DEL03,21,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1,No,Metropolitian
4,0xa759,CHENRES19DEL01,31,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1,No,Metropolitian

In [4]:
df.shape

(45593, 20)

In [5]:
dftest.shape

(11399, 19)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

In [7]:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [8]:
u=df.iloc[:,11:20]
u

,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...
45588,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

In [9]:
for col in u.columns:
    print('Column: {} - Unique values: {}'.format(col, u[col].unique()))

Column: Weatherconditions - Unique values: ['conditions Sunny' 'conditions Stormy' 'conditions Sandstorms'
 'conditions Cloudy' 'conditions Fog' 'conditions Windy' 'conditions NaN']
Column: Road_traffic_density - Unique values: ['High ' 'Jam ' 'Low ' 'Medium ' 'NaN ']
Column: Vehicle_condition - Unique values: [2 0 1 3]
Column: Type_of_order - Unique values: ['Snack ' 'Drinks ' 'Buffet ' 'Meal ']
Column: Type_of_vehicle - Unique values: ['motorcycle ' 'scooter ' 'electric_scooter ' 'bicycle ']
Column: multiple_deliveries - Unique values: ['0' '1' '3' 'NaN ' '2']
Column: Festival - Unique values: ['No ' 'Yes ' 'NaN ']
Column: City - Unique values: ['Urban ' 'Metropolitian ' 'Semi-Urban ' 'NaN ']
Column: Time_taken(min) - Unique values: ['(min) 24' '(min) 33' '(min) 26' '(min) 21' '(min) 30' '(min) 40'
 '(min) 32' '(min) 34' '(min) 46' '(min) 23' '(min) 20' '(min) 41'
 '(min) 15' '(min) 36' '(min) 39' '(min) 18' '(min) 38' '(min) 47'
 '(min) 12' '(min) 22' '(min) 25' '(min) 35' '(min) 10' '(min) 19'
 '(min) 11' '(min) 28' '(min) 52' '(min) 16' '(min) 27' '(min) 49'
 '(min) 17' '(min) 14' '(min) 37' '(min) 44' '(min) 42' '(min) 31'
 '(min) 13' '(min) 29' '(min) 50' '(min) 43' '(min) 48' '(min) 54'
 '(min) 53' '(min) 45' '(min) 51']

There are some NaN values in form of text and some unwanted string characters

In [10]:
df['Time_taken(min)'] = df['Time_taken(min)'].str.replace('(min) ', '', regex=False)
df['Time_taken(min)']

0        24
1        33
2        26
3        21
4        30
         ..
45588    32
45589    36
45590    16
45591    26
45592    36
Name: Time_taken(min), Length: 45593, dtype: object

regex=False treats the pattern (the part of string we want to replace) as a literal string

Converting NaN strings into actual null values

In [11]:
for i in df.columns:
    df[i].loc[(df[i] == 'NaN') | (df[i] == 'NaN ') | (df[i] == 'conditions NaN')]=np.nan

df.isnull().sum()

C:\Users\InfoManiac\AppData\Local\Temp\ipykernel_18824\50879055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i].loc[(df[i] == 'NaN') | (df[i] == 'NaN ') | (df[i] == 'conditions NaN')]=np.nan

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weatherconditions               616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken(min)                   0
dtype: int64

In [12]:
for i in dftest.columns:
    dftest[i].loc[(dftest[i] == 'NaN') | (dftest[i] == 'NaN ') | (dftest[i] == 'conditions NaN')]=np.nan

C:\Users\InfoManiac\AppData\Local\Temp\ipykernel_18824\3401562224.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftest[i].loc[(dftest[i] == 'NaN') | (dftest[i] == 'NaN ') | (dftest[i] == 'conditions NaN')]=np.nan

Converting some features to numeric format

In [13]:
df['Delivery_person_Age']=pd.to_numeric(df['Delivery_person_Age'])
df['Delivery_person_Ratings']=pd.to_numeric(df['Delivery_person_Ratings'])
df['Time_taken(min)']=pd.to_numeric(df['Time_taken(min)'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          43739 non-null  float64
 3   Delivery_person_Ratings      43685 non-null  float64
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  43862 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            44977 non-null  object
 12  Road_traffic_density         44992 non-null  object
 13  Vehicle_condition            45593 non-null  float64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          44600 non-null  object
 17  Festival                     45365 non-null  object
 18  City                         44393 non-null  object
 19  Time_taken(min)              45593 non-null  int64
dtypes: float64(7), int64(1), object(12)
memory usage: 7.0+ MB

In [14]:
dftest['Delivery_person_Age']=pd.to_numeric(dftest['Delivery_person_Age'])
dftest['Delivery_person_Ratings']=pd.to_numeric(dftest['Delivery_person_Ratings'])

Dealing with missing data

In [15]:
df.dropna(subset=['Time_Orderd'],inplace=True)
df['Delivery_person_Age'].fillna(df['Delivery_person_Age'].mean(), inplace=True)
df['Delivery_person_Ratings'].fillna(df['Delivery_person_Ratings'].mean(), inplace=True)
df['Weatherconditions'].fillna(df['Weatherconditions'].mode(), inplace=True)
df['Road_traffic_density'].fillna(df['Road_traffic_density'].mode(), inplace=True)
df['multiple_deliveries'].fillna(df['multiple_deliveries'].mode(), inplace=True)
df['Festival'].fillna(df['Festival'].mode(), inplace=True)
df['City'].fillna(df['City'].mode(), inplace=True)
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                       0
Time_Order_picked                 0
Weatherconditions                 0
Road_traffic_density              0
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             943
Festival                        219
City                           1144
Time_taken(min)                   0
dtype: int64

In [16]:
dftest.dropna(subset=['Time_Orderd'],inplace=True)
dftest['Delivery_person_Age'].fillna(dftest['Delivery_person_Age'].mean(), inplace=True)
dftest['Delivery_person_Ratings'].fillna(dftest['Delivery_person_Ratings'].mean(), inplace=True)
dftest['Weatherconditions'].fillna(dftest['Weatherconditions'].mode(), inplace=True)
dftest['Road_traffic_density'].fillna(dftest['Road_traffic_density'].mode(), inplace=True)
dftest['multiple_deliveries'].fillna(dftest['multiple_deliveries'].mode(), inplace=True)
dftest['Festival'].fillna(dftest['Festival'].mode(), inplace=True)
dftest['City'].fillna(dftest['City'].mode(), inplace=True)
dftest.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                      0
Time_Order_picked                0
Weatherconditions                0
Road_traffic_density             0
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries            225
Festival                        63
City                           310
dtype: int64

In [17]:
df.dropna(inplace=True)
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [18]:
dftest.dropna(inplace=True)

Convert to datetime in order to calculate time taken from order being placed to order being picked by the deliveryman

In [19]:
df['Datetime_Ordered'] = df['Order_Date'] + str(' ') +df['Time_Orderd']
df['Datetime_Order_picked'] = df['Order_Date'] + str(' ') + df['Time_Order_picked']

df['Datetime_Ordered'] = pd.to_datetime(df['Datetime_Ordered'])
df['Datetime_Order_picked'] = pd.to_datetime(df['Datetime_Order_picked'])

df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Datetime_Ordered,Datetime_Order_picked
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,High,2.0,Snack,motorcycle,0,No,Urban,24,2022-03-19 11:30:00,2022-03-19 11:45:00
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,Jam,2.0,Snack,scooter,1,No,Metropolitian,33,2022-03-25 19:45:00,2022-03-25 19:50:00
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,Low,0.0,Drinks,motorcycle,1,No,Urban,26,2022-03-19 08:30:00,2022-03-19 08:45:00
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,Medium,0.0,Buffet,motorcycle,1,No,Metropolitian,21,2022-05-04 18:00:00,2022-05-04 18:10:00
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,High,1.0,Snack,scooter,1,No,Metropolitian,30,2022-03-26 13:30:00,2022-03-26 13:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,...,High,1.0,Meal,motorcycle,0,No,Metropolitian,32,2022-03-24 11:35:00,2022-03-24 11:45:00
45589,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,...,Jam,0.0,Buffet,motorcycle,1,No,Metropolitian,36,2022-02-16 19:55:00,2022-02-16 20:10:00
45590,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,...,Low,1.0,Drinks,scooter,0,No,Metropolitian,16,2022-11-03 23:50:00,2022-11-03 00:05:00
45591,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,...,High,0.0,Snack,motorcycle,1,No,Metropolitian,26,2022-07-03 13:35:00,2022-07-03 13:40:00
45592,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,...,Medium,2.0,Snack,scooter,1,No,Metropolitian,36,2022-02-03 17:10:00,2022-02-03 17:15:00

In [20]:
dftest['Datetime_Ordered'] = dftest['Order_Date'] + str(' ') +dftest['Time_Orderd']
dftest['Datetime_Order_picked'] = dftest['Order_Date'] + str(' ') + dftest['Time_Order_picked']

dftest['Datetime_Ordered'] = pd.to_datetime(dftest['Datetime_Ordered'])
dftest['Datetime_Order_picked'] = pd.to_datetime(dftest['Datetime_Order_picked'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41616 entries, 0 to 45592
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           41616 non-null  object
 1   Delivery_person_ID           41616 non-null  object
 2   Delivery_person_Age          41616 non-null  float64
 3   Delivery_person_Ratings      41616 non-null  float64
 4   Restaurant_latitude          41616 non-null  float64
 5   Restaurant_longitude         41616 non-null  float64
 6   Delivery_location_latitude   41616 non-null  float64
 7   Delivery_location_longitude  41616 non-null  float64
 8   Order_Date                   41616 non-null  object
 9   Time_Orderd                  41616 non-null  object
 10  Time_Order_picked            41616 non-null  object
 11  Weatherconditions            41616 non-null  object
 12  Road_traffic_density         41616 non-null  object
 13  Vehicle_condition            41616 non-null  float64
 14  Type_of_order                41616 non-null  object
 15  Type_of_vehicle              41616 non-null  object
 16  multiple_deliveries          41616 non-null  object
 17  Festival                     41616 non-null  object
 18  City                         41616 non-null  object
 19  Time_taken(min)              41616 non-null  int64
 20  Datetime_Ordered             41616 non-null  datetime64[ns]
 21  Datetime_Order_picked        41616 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(7), int64(1), object(12)
memory usage: 7.3+ MB

In [22]:
df['Time_Ordered_to_picked'] = (df['Datetime_Order_picked'] - df['Datetime_Ordered']) / pd.Timedelta(1, 'min')
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Datetime_Ordered,Datetime_Order_picked,Time_Ordered_to_picked
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,2.0,Snack,motorcycle,0,No,Urban,24,2022-03-19 11:30:00,2022-03-19 11:45:00,15.0
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,2.0,Snack,scooter,1,No,Metropolitian,33,2022-03-25 19:45:00,2022-03-25 19:50:00,5.0
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,0.0,Drinks,motorcycle,1,No,Urban,26,2022-03-19 08:30:00,2022-03-19 08:45:00,15.0
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,0.0,Buffet,motorcycle,1,No,Metropolitian,21,2022-05-04 18:00:00,2022-05-04 18:10:00,10.0
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,1.0,Snack,scooter,1,No,Metropolitian,30,2022-03-26 13:30:00,2022-03-26 13:45:00,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,...,1.0,Meal,motorcycle,0,No,Metropolitian,32,2022-03-24 11:35:00,2022-03-24 11:45:00,10.0
45589,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,...,0.0,Buffet,motorcycle,1,No,Metropolitian,36,2022-02-16 19:55:00,2022-02-16 20:10:00,15.0
45590,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,...,1.0,Drinks,scooter,0,No,Metropolitian,16,2022-11-03 23:50:00,2022-11-03 00:05:00,-1425.0
45591,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,...,0.0,Snack,motorcycle,1,No,Metropolitian,26,2022-07-03 13:35:00,2022-07-03 13:40:00,5.0
45592,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,...,2.0,Snack,scooter,1,No,Metropolitian,36,2022-02-03 17:10:00,2022-02-03 17:15:00,5.0

In [23]:
dftest['Time_Ordered_to_picked'] = (dftest['Datetime_Order_picked'] - dftest['Datetime_Ordered']) / pd.Timedelta(1, 'min')

In [24]:
df['Time_Ordered_to_picked'].value_counts()

 5.0       13821
 10.0      13571
 15.0      13450
-1425.0      401
-1430.0      239
-1435.0      134
Name: Time_Ordered_to_picked, dtype: int64

In [25]:
df.loc[(df['Time_Ordered_to_picked'] == -1425)]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Datetime_Ordered,Datetime_Order_picked,Time_Ordered_to_picked
75,0x4b7f,HYDRES13DEL03,26.000000,4.700000,17.431477,78.400350,17.491477,78.460350,05-03-2022,23:50:00,...,1.0,Buffet,motorcycle,0,No,Metropolitian,10,2022-05-03 23:50:00,2022-05-03 00:05:00,-1425.0
101,0x3185,HYDRES19DEL03,25.000000,4.800000,17.458998,78.500366,17.488998,78.530366,26-03-2022,23:55:00,...,1.0,Snack,scooter,1,No,Urban,19,2022-03-26 23:55:00,2022-03-26 00:10:00,-1425.0
166,0x1dac,CHENRES07DEL03,33.000000,4.500000,13.081878,80.248519,13.171878,80.338519,04-03-2022,23:45:00,...,2.0,Drinks,electric_scooter,1,No,Metropolitian,19,2022-04-03 23:45:00,2022-04-03 00:00:00,-1425.0
325,0x26d4,HYDRES05DEL03,32.000000,4.900000,17.433809,78.386744,17.523809,78.476744,18-03-2022,23:55:00,...,1.0,Buffet,scooter,1,No,Metropolitian,24,2022-03-18 23:55:00,2022-03-18 00:10:00,-1425.0
443,0x14d0,RANCHIRES01DEL03,30.000000,4.700000,23.416792,85.316842,23.476792,85.376842,24-03-2022,23:45:00,...,1.0,Drinks,motorcycle,0,No,Metropolitian,15,2022-03-24 23:45:00,2022-03-24 00:00:00,-1425.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45086,0x5ae6,MUMRES01DEL01,27.000000,4.700000,19.126630,72.829976,19.196630,72.899976,23-03-2022,23:50:00,...,1.0,Drinks,motorcycle,1,No,Urban,14,2022-03-23 23:50:00,2022-03-23 00:05:00,-1425.0
45161,0x6194,BANGRES20DEL02,29.555008,4.635287,12.972161,77.596014,13.102161,77.726014,06-03-2022,23:45:00,...,0.0,Snack,motorcycle,0,No,Metropolitian,17,2022-06-03 23:45:00,2022-06-03 00:00:00,-1425.0
45361,0x6a9b,SURRES16DEL01,26.000000,4.900000,21.160437,72.774209,21.270437,72.884209,31-03-2022,23:50:00,...,0.0,Snack,motorcycle,0,No,Metropolitian,21,2022-03-31 23:50:00,2022-03-31 00:05:00,-1425.0
45529,0x1889,HYDRES01DEL02,26.000000,4.500000,17.410371,78.437225,17.540371,78.567225,25-03-2022,23:50:00,...,0.0,Buffet,motorcycle,0,No,Metropolitian,24,2022-03-25 23:50:00,2022-03-25 00:05:00,-1425.0
45590,0x4f8d,CHENRES08DEL03,30.000000,4.900000,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,...,1.0,Drinks,scooter,0,No,Metropolitian,16,2022-11-03 23:50:00,2022-11-03 00:05:00,-1425.0

Correcting the incorrect time values

In [342]:
for x in df['Time_Ordered_to_picked'].index:
    if df['Time_Ordered_to_picked'][x] < 0:
        df['Time_Ordered_to_picked'][x] += 1440 
    else:
        pass

df

C:\Users\InfoManiac\AppData\Local\Temp\ipykernel_11048\1210210050.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time_Ordered_to_picked'][x] += 1440

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Datetime_Ordered,Datetime_Order_picked,Time_Ordered_to_picked
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,2.0,Snack,motorcycle,0,No,Urban,24,2022-03-19 11:30:00,2022-03-19 11:45:00,15.0
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,2.0,Snack,scooter,1,No,Metropolitian,33,2022-03-25 19:45:00,2022-03-25 19:50:00,5.0
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,0.0,Drinks,motorcycle,1,No,Urban,26,2022-03-19 08:30:00,2022-03-19 08:45:00,15.0
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,0.0,Buffet,motorcycle,1,No,Metropolitian,21,2022-05-04 18:00:00,2022-05-04 18:10:00,10.0
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,1.0,Snack,scooter,1,No,Metropolitian,30,2022-03-26 13:30:00,2022-03-26 13:45:00,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,...,1.0,Meal,motorcycle,0,No,Metropolitian,32,2022-03-24 11:35:00,2022-03-24 11:45:00,10.0
45589,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,...,0.0,Buffet,motorcycle,1,No,Metropolitian,36,2022-02-16 19:55:00,2022-02-16 20:10:00,15.0
45590,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,...,1.0,Drinks,scooter,0,No,Metropolitian,16,2022-11-03 23:50:00,2022-11-03 00:05:00,15.0
45591,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,...,0.0,Snack,motorcycle,1,No,Metropolitian,26,2022-07-03 13:35:00,2022-07-03 13:40:00,5.0
45592,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,...,2.0,Snack,scooter,1,No,Metropolitian,36,2022-02-03 17:10:00,2022-02-03 17:15:00,5.0

In [343]:
for x in dftest['Time_Ordered_to_picked'].index:
    if dftest['Time_Ordered_to_picked'][x] < 0:
        dftest['Time_Ordered_to_picked'][x] += 1440 
    else:
        pass

C:\Users\InfoManiac\AppData\Local\Temp\ipykernel_11048\2673189824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftest['Time_Ordered_to_picked'][x] += 1440

In [344]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41616 entries, 0 to 45592
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           41616 non-null  object
 1   Delivery_person_ID           41616 non-null  object
 2   Delivery_person_Age          41616 non-null  float64
 3   Delivery_person_Ratings      41616 non-null  float64
 4   Restaurant_latitude          41616 non-null  float64
 5   Restaurant_longitude         41616 non-null  float64
 6   Delivery_location_latitude   41616 non-null  float64
 7   Delivery_location_longitude  41616 non-null  float64
 8   Order_Date                   41616 non-null  object
 9   Time_Orderd                  41616 non-null  object
 10  Time_Order_picked            41616 non-null  object
 11  Weatherconditions            41616 non-null  object
 12  Road_traffic_density         41616 non-null  object
 13  Vehicle_condition            41616 non-null  float64
 14  Type_of_order                41616 non-null  object
 15  Type_of_vehicle              41616 non-null  object
 16  multiple_deliveries          41616 non-null  object
 17  Festival                     41616 non-null  object
 18  City                         41616 non-null  object
 19  Time_taken(min)              41616 non-null  int64
 20  Datetime_Ordered             41616 non-null  datetime64[ns]
 21  Datetime_Order_picked        41616 non-null  datetime64[ns]
 22  Time_Ordered_to_picked       41616 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(1), object(12)
memory usage: 8.6+ MB

In [345]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10370 entries, 1 to 11398
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           10370 non-null  object
 1   Delivery_person_ID           10370 non-null  object
 2   Delivery_person_Age          10370 non-null  float64
 3   Delivery_person_Ratings      10370 non-null  float64
 4   Restaurant_latitude          10370 non-null  float64
 5   Restaurant_longitude         10370 non-null  float64
 6   Delivery_location_latitude   10370 non-null  float64
 7   Delivery_location_longitude  10370 non-null  float64
 8   Order_Date                   10370 non-null  object
 9   Time_Orderd                  10370 non-null  object
 10  Time_Order_picked            10370 non-null  object
 11  Weatherconditions            10370 non-null  object
 12  Road_traffic_density         10370 non-null  object
 13  Vehicle_condition            10370 non-null  float64
 14  Type_of_order                10370 non-null  object
 15  Type_of_vehicle              10370 non-null  object
 16  multiple_deliveries          10370 non-null  object
 17  Festival                     10370 non-null  object
 18  City                         10370 non-null  object
 19  Datetime_Ordered             10370 non-null  datetime64[ns]
 20  Datetime_Order_picked        10370 non-null  datetime64[ns]
 21  Time_Ordered_to_picked       10370 non-null  float64
dtypes: datetime64[ns](2), float64(8), object(12)
memory usage: 2.1+ MB

In [347]:
ID=dftest['ID']

Dropping Columns that don't help or can't be used for prediction

In [346]:
df.drop(columns=['ID','Delivery_person_ID','Order_Date','Time_Orderd','Time_Order_picked','Datetime_Ordered','Datetime_Order_picked'], inplace=True)
df

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Time_Ordered_to_picked
0,37.0,4.9,22.745049,75.892471,22.765049,75.912471,conditions Sunny,High,2.0,Snack,motorcycle,0,No,Urban,24,15.0
1,34.0,4.5,12.913041,77.683237,13.043041,77.813237,conditions Stormy,Jam,2.0,Snack,scooter,1,No,Metropolitian,33,5.0
2,23.0,4.4,12.914264,77.678400,12.924264,77.688400,conditions Sandstorms,Low,0.0,Drinks,motorcycle,1,No,Urban,26,15.0
3,38.0,4.7,11.003669,76.976494,11.053669,77.026494,conditions Sunny,Medium,0.0,Buffet,motorcycle,1,No,Metropolitian,21,10.0
4,32.0,4.6,12.972793,80.249982,13.012793,80.289982,conditions Cloudy,High,1.0,Snack,scooter,1,No,Metropolitian,30,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,30.0,4.8,26.902328,75.794257,26.912328,75.804257,conditions Windy,High,1.0,Meal,motorcycle,0,No,Metropolitian,32,10.0
45589,21.0,4.6,0.000000,0.000000,0.070000,0.070000,conditions Windy,Jam,0.0,Buffet,motorcycle,1,No,Metropolitian,36,15.0
45590,30.0,4.9,13.022394,80.242439,13.052394,80.272439,conditions Cloudy,Low,1.0,Drinks,scooter,0,No,Metropolitian,16,15.0
45591,20.0,4.7,11.001753,76.986241,11.041753,77.026241,conditions Cloudy,High,0.0,Snack,motorcycle,1,No,Metropolitian,26,5.0
45592,23.0,4.9,23.351058,85.325731,23.431058,85.405731,conditions Fog,Medium,2.0,Snack,scooter,1,No,Metropolitian,36,5.0

In [348]:
dftest.drop(columns=['ID','Delivery_person_ID','Order_Date','Time_Orderd','Time_Order_picked','Datetime_Ordered','Datetime_Order_picked'], inplace=True)

Creating dummy variables from categorical variables

In [349]:
df = pd.get_dummies(df)
df

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,Time_taken(min),Time_Ordered_to_picked,Weatherconditions_conditions Cloudy,...,Type_of_vehicle_scooter,multiple_deliveries_0,multiple_deliveries_1,multiple_deliveries_2,multiple_deliveries_3,Festival_No,Festival_Yes,City_Metropolitian,City_Semi-Urban,City_Urban
0,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2.0,24,15.0,0,...,0,1,0,0,0,1,0,0,0,1
1,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2.0,33,5.0,0,...,1,0,1,0,0,1,0,1,0,0
2,23.0,4.4,12.914264,77.678400,12.924264,77.688400,0.0,26,15.0,0,...,0,0,1,0,0,1,0,0,0,1
3,38.0,4.7,11.003669,76.976494,11.053669,77.026494,0.0,21,10.0,0,...,0,0,1,0,0,1,0,1,0,0
4,32.0,4.6,12.972793,80.249982,13.012793,80.289982,1.0,30,15.0,1,...,1,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,30.0,4.8,26.902328,75.794257,26.912328,75.804257,1.0,32,10.0,0,...,0,1,0,0,0,1,0,1,0,0
45589,21.0,4.6,0.000000,0.000000,0.070000,0.070000,0.0,36,15.0,0,...,0,0,1,0,0,1,0,1,0,0
45590,30.0,4.9,13.022394,80.242439,13.052394,80.272439,1.0,16,15.0,1,...,1,1,0,0,0,1,0,1,0,0
45591,20.0,4.7,11.001753,76.986241,11.041753,77.026241,0.0,26,5.0,1,...,0,0,1,0,0,1,0,1,0,0
45592,23.0,4.9,23.351058,85.325731,23.431058,85.405731,2.0,36,5.0,0,...,1,0,1,0,0,1,0,1,0,0

In [350]:
dftest = pd.get_dummies(dftest)

## Model Training

In [351]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost.sklearn import XGBRegressor
from sklearn import metrics
#from sklearn.model_selection import GridSearchCV

In [352]:
x = df.drop('Time_taken(min)', axis=1)
y = df['Time_taken(min)']

In [353]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

### Random Forest

Training

In [354]:
rf=RandomForestRegressor(n_estimators=100, max_depth=8)

In [355]:
rf.fit(x_train,y_train)
y_pred_rf = rf.predict(x_test)
y_pred_rf

array([22.46247562, 21.79299665, 19.93185689, ..., 42.77282682,
       34.30132094, 20.44250837])

Evaluation

In [356]:
print('RMSE of RF:', ( metrics.mean_squared_error(y_test,y_pred_rf) )**0.5 )
print('R2 of RF:', metrics.r2_score(y_test,y_pred_rf) )

RMSE of RF: 5.189681799086997
R2 of RF: 0.6936921704071713

### XGBoost

Training

In [357]:
xg=XGBRegressor(n_estimators=100, max_depth=8)

In [358]:
xg.fit(x_train,y_train)
y_pred_xg = xg.predict(x_test)
y_pred_xg

array([20.260641, 21.268955, 25.363382, ..., 50.414295, 32.785236,
       19.076096], dtype=float32)

Evaluation

In [359]:
print('RMSE of XGBoost:', ( metrics.mean_squared_error(y_test,y_pred_xg) )**0.5 )
print('R2 of XGBoost:', metrics.r2_score(y_test,y_pred_xg) )

RMSE of XGBoost: 4.41300785006445
R2 of XGBoost: 0.778514123647479

### Model Deployment

In [360]:
dftest_pred=xg.predict(dftest)
dftest_pred.shape

(10370,)

In [361]:
final_test=pd.DataFrame({'ID': ID, 'Time Taken (min)': dftest_pred})
final_test

            ID  Time Taken (min)
1      0x3474          29.049746
2      0x9420          28.800915
3      0x72ee          25.885601
4      0xa759          22.751814
5      0xc4af          21.241177
...        ...               ...
11393  0xe240          23.792595
11394  0x6909          21.517464
11395  0x443b          28.022911
11397  0x22d4          26.104893
11398  0xb7be          23.331371

[10370 rows x 2 columns]